{% extends 'core/base.html' %}
{% load humanize %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-3">
        <div class="text-center p-4 bg-white">
            <h5>Create New Portfolio:</h5>     
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group col-10 mx-auto">
                    {{ form.name }}
                </div>
                <button type="submit" class="btn my-2" style="background-color:#f7931a;">Create</button>
            </form>
        </div>
        <div class="text-center mt-2 p-4 bg-white text-secondary">
            <h5>Current BTC Price:</h5>
            <h1>${{ current_price|floatformat:0 }}</h1>
        </div>
    </div>
</div>

{% endblock %}